<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="logDirectory" value="${basedir}/logs" />
    <targets>
      <target xsi:type="File" name="File" fileName="${logDirectory}/EDIService-${shortdate}.txt" layout="${date} - ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="File" />
    </rules>
  </nlog>
</configuration>
